name: Build and Package

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build --if-present

    - name: Package application
      run: |
        tar -czf app.tar.gz app.js package.json package-lock.json Dockerfile

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: node-app
        path: app.tar.gz


  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Run tests
      run: echo "npm test"


  deploy:
    runs-on: ubuntu-latest
    needs: [build,test]

    steps:
    - name: Deploy application
      run: echo "desplegando application"
